body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Trebuchet','Helvetica', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #846aa5;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2.5em;
    text-align: left;
}
h2 {
    font-size: 1.2em;
}
h3 {
    font-size: 0.9em;
}
h4 {
    font-size: 0.7em;
}
h1, h2, h3, h4 {
    font-family:'Trebuchet','Helvetica', 'Sans-Serif';
    color: rgb(29, 27, 27);
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}
p {
    font-size: 1.2em;
    line-height: 1.4em;
    color: rgb(29, 27, 27);
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

/* Posts */
ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

/* Learning */
th, td {
    font-family:'Trebuchet','Helvetica', 'Sans-Serif';
    font-size: .9em;
    line-height: 1.1em;
    border-bottom: 1px solid #ddd;
  }
/* columns */
td {
    padding: 5px;
}
#course {
    width: 30%;
}
#course_desc {
    width: 40%;
}
#assignments {
    width: 20%;
}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "Course"; }
    td:nth-of-type(2):before { content: "Learnings"; }
    td:nth-of-type(3):before { content: "Assignments"; }
	td:nth-of-type(4):before { content: "Certificate"; }
}
