<head>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" media="only screen and (max-width: 760px),
    (min-device-width: 768px) and (max-device-width: 1024px)" href="learning.css">
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/learning">Learning</a></li>
            <li><a href="/resume">Resume</a></li>
            <li><a href="/blog">Blog</a></li>
        </ul>
    </nav>
</head>