<head>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <!--link rel="stylesheet" type="text/css" href="/css/learning.css">-->
    <link rel="stylesheet" media="only screen and (max-width: 760px),
    (min-device-width: 768px) and (max-device-width: 1024px)" href="learning.css">
    <nav>
        <ul>
            <li><a class = "btn" href="/learning">Learning</a></li>
            <li><a class = "btn" href="/blog">Projects</a></li>
            <li><a class = "btn" href="/volunteer">Volunteer</a></li>
            <li><a class = "btn" href="/">Home</a></li>
        </ul>
    </nav>
    <hr/>
</head>
