--- 
layout: default
---

<div>
    <table>
        <thead>
            <tr>
                <th>Course</th>
                <th>Contents</th>                            
                <th>Assignments</th>                            
                <th>Certificate</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>The Data Scientist’s Toolbox</td>
                <td>Introduces the concept behind turning data into actionable knowledge. Also providing the tools that will be used in the program like version control, markdown, git, Github, R, and Rstudio.</td>
                <td>None</td>
                <td><a href="https://www.coursera.org/verify/8RQWTEEHJJAC">verify</a></td>
            </tr>
            <tr>
                <td>R Programming</td>
                <td>Tick</td>
                <td>Crimefighter Sorta</td>
                <td><a href="https://www.coursera.org/verify/A5EZ3HTXBWAF">verify</a></td>
            </tr>
        </tbody>
    </table>
</div>

    