--- 
layout: sidebar
title: Data Science Specialization
---

<div class="title">
    <h1>Data Science Specialization</h2>
    <h2>John Hopkins University</h3>
    <h3><a href="https://www.coursera.org/specializations/jhu-data-science">Coursera Specialization Details</a></h4>
    </br>
</div>
<div>
    <table>
        <thead>
            <tr>
                <th>Course</th>
                <th>Contents</th>
                <th>Assignments</th>
                <th>Certificate</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td id="course">The Data Scientist’s Toolbox</td>
                <td id="course_desc">Markdown, git, Github, R, and Rstudio.</td>
                <td id="assignments">None</td>
                <td><a href="https://www.coursera.org/verify/8RQWTEEHJJAC">verify</a></td>
            </tr>
            <tr>
                <td id="course">R Programming</td>
                <td id="course_desc">R programming language basics.</td>
                <td id="assignments"><a href="https://github.com/lizthree/ProgrammingAssignment2">Week 2: Lexical Scoping</a></td>
                <td><a href="https://www.coursera.org/verify/A5EZ3HTXBWAF">verify</a></td>
            </tr>
            <tr>
                <td id="course">Getting and Cleaning Data</td>
                <td id="course_desc">Merge datasets, filter on certain variables, and make dataset more readable.</td>
                <td id="assignments">Course Project: <a href="https://lizthree.github.io/tidy-data-course-project">Gather and Tidy Raw Sensor Data</a></td>
                <td><a href="https://www.coursera.org/verify/5NWTACYG8X5L">verify</a></td>
            </tr>
            <tr>
                <td id="course">Exploratory Data Analysis</td>
                <td id="course_desc">Base plotting, `lattice` and `ggplot2`.</td>
                <td id="assignments">Course Project 1:<a>In Progress</a></td>
                <td><a>In Progress</a></td>
            </tr>
            <tr>
                <td id="course">Reproducible Research</td>
                <td id="course_desc">Markdown, knitr, case studies.</td>
                <td id="assignments"><a>Assignment WIP</a></td>
                <td><a></a></td>
            </tr>
            <tr>
                <td id="course">Statitical Inference</td>
                <td id="course_desc">-</td>
                <td id="assignments"><a>TBD</a></td>
                <td><a>Up Next</a></td>
            </tr>
            <tr>
                <td id="course">Regression Models</td>
                <td id="course_desc">-</td>
                <td id="assignments"><a>-</a></td>
                <td><a></a></td>
            </tr>
            <tr>
                <td id="course">Practical Machine Learning</td>
                <td id="course_desc">-</td>
                <td id="assignments"><a>-</a></td>
                <td><a></a></td>
            </tr>
            <tr>
                <td id="course">Developing Data Products</td>
                <td id="course_desc">-</td>
                <td id="assignments"><a>-</a></td>
                <td><a></a></td>
            </tr>
            <tr>
                <td id="course">Capstone</td>
                <td id="course_desc">-</td>
                <td id="assignments"><a>-</a></td>
                <td><a></a></td>
            </tr>
        </tbody>
    </table>
</div>