--- 
layout: sidebar
title: Data Science Specialization
---

<div class="title">
    <h2>Data Science Specialization<br></h2>
    <h3>John Hopkins University</h3>
    <h4><a href="https://www.coursera.org/specializations/jhu-data-science">Coursera Specialization Details</a></h4>
    </br></div>
<div>
    <table>
        <thead>
            <tr>
                <th>Course</th>
                <th>Contents</th>
                <th>Assignments</th>
                <th>Certificate</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td id="course">The Data Scientist’s Toolbox</td>
                <td id="course_desc">Introduces the concept behind turning data into actionable knowledge and tools like version control, markdown, git, Github, R, and Rstudio.</td>
                <td id="assignments">None</td>
                <td><a href="https://www.coursera.org/verify/8RQWTEEHJJAC">verify</a></td>
            </tr>
            <tr>
                <td id="course">R Programming</td>
                <td id="course_desc">Logic, loop functions, random sampling, debugging, simulation, and profiling.</td>
                <td id="assignments"><a href="https://github.com/lizthree/ProgrammingAssignment2">Week 2: Lexical Scoping</a></td>
                <td><a href="https://www.coursera.org/verify/A5EZ3HTXBWAF">verify</a></td>
            </tr>
            <tr>
                <td id="course">Getting and Cleaning Data</td>
                <td id="course_desc">Introduces the methods used to gather and clean data for analysis. Learn how to merge datasets, filter on certain variables, and make dataset more readable.</td>
                <td id="assignments">Course Project: <a href="https://lizthree.github.io/tidy-data-course-project">Gather and Tidy Raw Sensor Data</a></td>
                <td><a href="https://www.coursera.org/verify/5NWTACYG8X5L">verify</a></td>
            </tr>
            <tr>
                <td id="course">Exploratory Data Analysis</td>
                <td id="course_desc">Provides methods of explording a data set by plotting simple graphs, understanding variable relations, and using the basic plotting functions & libraries such as `lattice` and `ggplot`.</td>
                <td id="assignments">Course Project 1:<a>In Progress</a></td>
                <td><a>In Progress</a></td>
            </tr>
            <tr>
                <td id="course">Reproducable Research</td>
                <td id="course_desc">WIP</td>
                <td id="assignments"><a href="https://github.com/lizthree/ProgrammingAssignment2"></a></td>
                <td><a></a></td>
            </tr>
            <tr>
                <td id="course">Statitical Inference</td>
                <td id="course_desc">WIP</td>
                <td id="assignments"><a href="https://github.com/lizthree/ProgrammingAssignment2"></a></td>
                <td><a></a></td>
            </tr>
            <tr>
                <td id="course">Regression Models</td>
                <td id="course_desc">WIP</td>
                <td id="assignments"><a href="https://github.com/lizthree/ProgrammingAssignment2"></a></td>
                <td><a></a></td>
            </tr>
            <tr>
                <td id="course">Machine Learning</td>
                <td id="course_desc">WIP</td>
                <td id="assignments"><a href="https://github.com/lizthree/ProgrammingAssignment2"></a></td>
                <td><a></a></td>
            </tr>
            <tr>
                <td id="course">Capstone Project</td>
                <td id="course_desc">WIP</td>
                <td id="assignments"><a href="https://github.com/lizthree/ProgrammingAssignment2"></a></td>
                <td><a></a></td>
            </tr>
        </tbody>
    </table>
</div>
{%- include footer.html -%}
