---
layout: default
---

<aside class="sidebar">
  <header>
    <div class="about">
      <div class="cover-author-image">
        <a href="{{site.baseurl}}/"><img src="{% if site.author-img %}{{site.author-img}}{% endif %}" alt="{{site.author}}"></a>
      </div>
      <div class="author-name">{{site.author}}</div>
      <p>{{site.about-author}}</p>
    </div>
    <div class="about-me">
      <ul>
        <li><b>Skills:</b></li>
        <li>Python, R, C/C#, Github</li>
      </ul>
      <br>
      <ul>
        <li><b>Interests:</b></li>
        <li>Data science, rock climbing, and cats.</li>
      </ul>
    </div>
  </header> <!-- End Header -->
  <body>
    {% include sidebar.html %}
  </body>
  <footer>
    <section class="contact">
      <h3 class="contact-title">Contact me</h3>
      <ul>
          <li><a class="social" href="http://github.com/{{site.social-github}}" target="_blank">GitHub</a></li>
          <li><a class="social" href="https://in.linkedin.com/in/{{site.social-linkedin}}"  target="_blank">LinkedIn</a></li>
          <li><a class="social" href="mailto:lizanderson.ca@gmail.com">Email</a></li>
      </ul>
    </section> <!-- End Section Contact -->
    <div class="copyright">
      <p>{{site.time | date: '%Y'}} &copy; {{site.author}}</p>
    </div>
  </footer> <!-- End Footer -->
</aside> <!-- End Sidebar -->
<div class="content-box clearfix">
  {{ content }}
</div>